main{
	margin: 30px auto; 
	max-width: 1200px;
	padding: 20px 30px;
	background-color: #efe1fe;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.15);
	box-sizing: border-box;
	
}
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	background-color: #bba4d4;
}

.box{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	height: 200px;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;


	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-position: center;
	background-color: #dec3fd;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.box img{
	width: 120px;
	border-radius: 50%;
	border: 4px solid white;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.AboutMe{

	display:flex;
	align-items: left;
	justify-content: space-between;

	max-width: 1200px;
	margin: 10px auto;
	gap: 0px;
	height: 200px;
	width: 100%;
}

.AboutMe .text{
	flex: 1;
}
.AboutMe img{
	width: 175px;
	height: 150px;
	border-radius: 50%;
	margin-left: 20px;
}

.Freya{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.freya-bg{
	background-color: #bba4d4;
	padding: 0;
	margin-top: -16px;
	margin-bottom: -16px;
	margin-left: -30px;
	margin-right: -30px;
}


.Freya img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 0;
}

.Freya img.rotated{
	transform: rotate(180deg);
	margin-top: -30px;
	margin-bottom: -5px;
}